<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <!-- Style -->

    <style type="text/css">
        .navbar{
            padding: 15px;
        }
        .wrapper{
            position: relative;
            appearance: none;
            color: white;
            /*cursor: pointer;*/
            outline: none;
            border-radius: 25px;
            border: 15px solid transparent;
            background: linear-gradient(#000, #007) padding-box, radial-gradient(#00C9A7, #845EC2) border-box;

            padding: 1vmax;
            height: fit-content;
        }
        .elem {
            border: 5px solid transparent;
            border-radius: 15px;
        }
    </style>

    <!-- Favicon -->

    <link rel="icon" type="image/ico" th:href="@{../public/favicon.ico}">

    <!-- CSS only -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Платная поликлиника ParaMedic</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home_patient">ParaMedic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/list_of_services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact_details">Контактные данные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div th:inline="text">
            <h1>Добрый день, [[${me.getName()}]]!</h1>
        </div>
        <div>
            <form method="post" action="filterByProcedureDescription" style="padding: 15px;">
                <input style="margin: 5px; width: 15%;" type="text" id="procedureDescription" name="procedureDescription" class="form-control" placeholder="Описание">
                <button style="margin: 5px;" type="submit">Осуществить поиск по описанию процедуры</button>
            </form>
        </div>
        <div>
            <h2>Список записей:</h2>
        </div>
        <table class="container table-bright table-bordered">
            <tr th:if="${records.isEmpty()}">
                <td colspan="2"> Нет записей </td>
            </tr>
            <thead th:if="${not records.isEmpty()}">
                <tr>
                    <th>ID и время записи</th>
                    <th>Пол и дата рождения пациента</th>
                    <th>ФИО пациента</th>
                    <th>Контактные данные пациента</th>
                    <th>Информация о записи</th>
                    <th>Принимающий врач</th>
                    <th>Вердикт</th>
                    <th>Отменить запись</th>
                </tr>
            </thead>
            <tbody th:if="${not records.isEmpty()}">
                <tr th:each="record : ${records}">
                    <div class="row" style="display: inline-block;">
                        <td class="col">
                            <div style="display: flex; flex-direction: column" th:inline="text">
                                <span>ID: [[${record.getId()}]]</span>
                                <span>Время записи: [[${#temporals.format(record.getDateTime(), 'HH:mm:ss dd-MMM-yyyy')}]]</span>
                            </div>
                        </td>
                        <td class="col">
                            <div style="display: flex; flex-direction: column" th:inline="text">
                                <span>Пол: [[${record.getClient().getGender()}]]</span>
                                <span>Дата рождения: [[${#dates.format(record.getClient().getDateOfBirth(), 'dd-MMM-yyyy')}]]</span>
                            </div>
                        </td>
                        <td class="col">
                            <div style="display: flex; flex-direction: column" th:inline="text">
                                <span>Фамилия: [[${record.getClient().getSurname()}]]</span>
                                <span>Имя: [[${record.getClient().getName()}]]</span>
                                <span>Отчество: [[${record.getClient().getPatronymic()}]]</span>
                            </div>
                        </td>
                        <td class="col">
                            <div style="display: flex; flex-direction: column" th:inline="text">
                                <span>Телефон: [[${record.getClient().getPhoneNumber()}]]</span>
                                <span>E-mail: [[${record.getClient().getEmail()}]]</span>
                            </div>
                        </td>
                        <td class="col">
                            <div style="display: flex; flex-direction: column" th:inline="text">
                                <span>Услуга: [[${record.getProcedure().getDescription()}]]</span>
                                <span>Стоимость: [[${record.getProcedure().getCost()}]]</span>
                            </div>
                        </td>
                        <td class="col">
                            <div style="display: flex; flex-direction: column" th:inline="text">
                                <span>Фамилия: [[${record.getProcedure().getArtistInfo().getArtist.getName()}]]</span>
                                <span>Имя: [[${record.getProcedure().getArtistInfo().getArtist.getSurname()}]]</span>
                                <span>Отчество: [[${record.getProcedure().getArtistInfo().getArtist.getPatronymic()}]]</span>
                                <span>Кабинет: [[${record.getProcedure().getArtistInfo().getCabinet()}]]</span>
                            </div>
                        </td>
                        <td class="col">
                            <div style="display: flex; flex-direction: column" th:inline="text">
                                <span>Вердикт: [[${record.getVerdict()}]]</span>
                            </div>
                        </td>
                        <td class="col">
                            <div th:if="${#strings.equals(record.getVerdict(), 'None')}" style="display: flex; flex-direction: column; margin: 5px; padding: 5px;" th:inline="text">
                                <span>Отмена записи с ID [[${record.getId()}]]</span>
                                <form th:action="@{/cancel_entry}" th:object="${deleteRecordInfo}" method="post">
                                    <input type="hidden" th:value="${record.getId()}" name="id">
                                    <button type="submit" class="btn btn-secondary btn-block" style="width: 100%;">
                                        Отменить
                                    </button>
                                </form>
                            </div>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>